body {
  --slidev-code-background: #000000 !important;
  --slidev-code-font-size: 16px !important;
  --slidev-code-line-height: 22px !important;
}

.slidev-runner-output {
  font-size: 20px !important;
  line-height: 1.4rem !important;
}